#logo-footer{
    width: 4rem;
    height: 5rem;
}


#footer-nombre-logo{
    display: flex;
    place-items: center;
    margin-left: -6rem;
}

.divfooter{
    display:flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
}

.bg-dark{
    background-color: #212529 !important;
}