.flex-column{
    margin-left: 2rem;
    margin-top: 6rem;
    padding: 1rem;
    background-color: rgb(235, 240, 241);
    border-radius: 5px;
}

.VidriosInfo{
    font-size: 1.2rem;
    margin-top: 1rem;
}

.tab-item{
    padding: 4px;
}

.Titulo-Tab{
    margin: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Columna-Tabs{
    margin-top: 2rem;
}

.Presentacion-Tabs{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
    padding-inline: 6rem;
}

.img-tarjeta{
    max-width: 20rem;
    max-height: 12rem;
}

.Tarjeta{
   margin-inline: 1rem;
   margin-top: 2rem;

   background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}

.Tarjetas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;

    
}